.navbar-header button {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 0px;
}

.navbar-header .navbar-brand {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: darkcyan;
    font-size: 3em;
}


section {
    background-color: bisque;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container-fluid {
    margin-right: 20px;
    margin-left: 20px
}

#collapsable-nav a{
    background-color: yellowgreen;
    color: green;
}

#collapsable-nav a:hover{
    color: orange;
    background-color: yellow;
}

.navbar > .container-fluid > .navbar-header {
    margin-left: 0px;
    margin-right: 0px;
}